<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Application Tracking System</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
	<style>
	span.navigation {
color: #000000;
float:right;
}

/* unvisited link */
a.navigation:link {
color:#000000; 
text-decoration:none;
}

/* unvisited link */
a.navigation:visited {
color:#000000; 
text-decoration:none;
}

/* mouse over link */
a.navigation:hover {
color:#FF0000; 
text-decoration:none;
} 

/* mouse over link */
a.navigation:active {
color:#FF0000; 
text-decoration:none;
}  
span.navigationSpace {
    padding-left: 100px;
}


</style>

</head>
<body>

  <img src=" C:\Users\Rohith kunj\Downloads\ingrainimage (1).jpg">
	<div class="container">
	 <img src="https://ingrain.us/images/logo.png"alt="logo" class="img-responsive" width="180px" height="80px">
	   <marquee direction = "right"> 
      <div class="p-3 mb-2 bg-warning text-dark"><H2>WELCOME TO INGRAIN SYSTEMS PRIVATE LIMITED!!!</H2>></div>
     </marquee>
		<hr>
		<center>
	
       <H2>

<div class="p-3 mb-2 bg-secondary text-white"> HR feedback </div>
    </h2>

		<form action="#" th:action="@{/saveFeedback1}" th:object="${feedback1}"
			method="POST">
			<input type="text" th:field="*{id}"
				placeholder=" id" class="form-control mb-4 col-4">
				
				<input type="text" th:field="*{candidatename}"
				placeholder="CandidateName" class="form-control mb-4 col-4">
				
				<input type="text" th:field="*{Jobtitle}"
				placeholder="Jobtitle" class="form-control mb-4 col-4">
			   <input type="text" th:field="*{InterviewerName}"
				placeholder=" InterviewerName" class="form-control mb-4 col-4">
				<input type="text" th:field="*{evaluationareaRating}"
				placeholder="evaluationareaRating" class="form-control mb-4 col-4">
				<input type="text" th:field="*{skillarea}"
				placeholder="skillarea" class="form-control mb-4 col-4">
				<input type="text" th:field="*{overallRating}"
				placeholder="overallRating" class="form-control mb-4 col-4">
				<input type="text" th:field="*{Result}"
				placeholder="Result" class="form-control mb-4 col-4">
				
               <button type="submit" class="btn btn-info col-2"> Save HRFeedback</button>
		</form>
		
	
	<hr>
		<a th:href = "@{/listofapplicants}"><b> Back to List of Applicants</b></a><span class="navigationSpace"/>
		<a th:href = "@{/addfeedback}"><b> Return to add feedback</a></b><span class="navigationSpace"/>
		<a th:href = "@{/dashboard}"> <b>Return to Dashboard</b></a>
		
		
	
	</div>
</body>
</html>